// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thing {
  font-style: oblique;
}
.row {
  text-align: left;
}
.table-bordered tr:nth-child(odd) {
  color: #FF0000;
}
.table-bordered tr:nth-child(even) {
  color: #636363;
}
.table-bordered a tr:nth-child(odd) {
  color: #FF0000;
}
.table-bordered a tr:nth-child(even) {
  color: #636363;
}
.table-bordered th {
  color: #636363;
}
.table-bordered {
  border-collapse: collapse;
}
